<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 pm_landingview">
        <div>              
          <h3>Please review the information before signing the document</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pm_hm_article dividershade">
  <div class="container">
    <div class="row dividershade">
      <div class="col-md-6"><h2>Agent Information</h2>
        <p>Agent Name  :  <span>Mark</span></p><p>Agent Phone :  <span>+970 20 4810 33</span></p><p>Agent Email-Id  : <span>agent@producermax.com</span></p>
      </div>
      <div class="col-md-6">
        <h2>Preview SOA</h2>
        <div><a href="images/sos.pdf" data-lightbox="photos">
        <img class="img-fluid" src="images/icons8-file-preview-100.png"></a></div>
      </div>
    </div>
  </div>
</section>
<section class="pm_hm_article">
  <div class="container"></div>            
  <div class="row">
    <a href="#" class="pm_landingview_btn"><span>CLICK TO SIGN</span></a>
  </div>
</section>