<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 pm_landingview">
        <div class="pm_landingview_div">                       
          <div>
            <h1 class="{{ validation.value }}">Welcome to ProducerMAX! A secure website to electronically sign the Scope Of Appointment (SOA) form</h1>              
          </div>
          <div>
            <!-- Start validation form -->
            
            <div id="captcha">sample</div>
            <input type="text" [formControl]="validation" />
            <button (click) = "checkValue()">Submit</button>          
            <!-- End validation Form-->            
          </div>
        </div>
      </div>
    </div>
    <br/>
    <p style="font-size:13px;"><span style="color:#FF0000">Note:</span> The Centers for Medicare and Medicaid Services (CMS) requires agents to document the SOA prior to any individual representative. If you are not interested or you got here by mistake, please close the browser. If you have any questions, please email to <a href="mailto:questions@chumit.com">questions@chumit.com</a></p>
  </div>
</section>